@import '../helpers/variables';
@import '../theme/font';

.container{
    padding: 70px 0 10px 0;

    .slide{
        // border: 0px solid #fff;
        box-shadow: 1px 0.5px 5px $colorBlack;
        img{
            width: 100%;
            height: 500px;
        }

        .title-slide{
            h3{
                color: $colorBlueBlackRefaire;
            }
            p{
                margin: 0;
                font-size: 25px;
                color:  $colorGreyEdit;
            }
        }
    }
    .about{
        margin: 30px auto;
        padding: 20px;
        h2{
            text-align: center;
            font-family: $fontMontserrat;
            font-weight: 700;
        }

        .flex{
            display: flex;
            margin: 25px 0;
            p{
                text-align: justify;
                margin: 0px 15px;
            }
        }
    }
}