@import '../helpers/variables';
@import '../theme/font';


.homepage{
    background-color: #f1f1f1;
}

.body-homepage{
    .title-shop{
        width: 50%;
        padding: 20px 0;
        margin: 0px auto;
        text-align: center;
        font-family: $fontKaushan;
        font-size: 40px;
        p{
            margin: 0;
        }
    }

    .slide{
        width: 80%;
        margin: 0 auto;
        img{
            // width: 500px;
            height: 500px;
        }

        .title-slide{
            h3{
                color: $colorBlueBlackRefaire;
            }
            p{
                margin: 0;
                font-size: 25px;
                color:  $colorGreyEdit;
            }
        }
    }

    .about{
        width: 60%;
        text-align: center;
        margin: 50px auto;
        h2{
            font-family: $fontMontserrat;
            font-weight: 700;
        }
    }
}