@import '../../sass/theme/font';
@import '../../sass/helpers/variables';

.container{
    .group-contact{
    }
    .breadcrumbs{
    width: 80%;
    margin: 0 auto;
    }
    .title-contact{
        margin: 25px auto;
        width: 80%;
        text-align: center;
        background-color: #a0c9c9;
        padding: 60px 0;
        h3{
            font-size: 45px;
            color: $colorWhite;
        }
    }
    .contact-item{
        width: 70%;
        margin: 30px auto;
        .form-contact{
            margin: 35px;
        }
    }
}