@import '../sass/theme/font';
@import '../sass/helpers/variables';

.container{
    .template-detail{
        .propos{
            color: $colorBlack !important;
            font-size: 18px;
            span{
                list-style-type: none;
                padding-bottom: 2px;
            }
        }
        .group-detail{
            display: flex;
            justify-content: space-between;
            position: relative;
            @media all and (max-width: 993px){
               flex-wrap: wrap;
            }
            .img-detail{
                margin: 30px;
                @media all and (max-width: 993px){
                   margin-top: 30px !important;
                   margin-bottom: 0px !important;
                   margin-left: 0px !important;
                   margin-right: 0px !important;
                }
                img{
                    width: 500px;
                    @media all and (max-width: 1206px){
                        width: 400px;
                        @media all and (max-width: 993px){
                            width: 100%;
                            height: 80%;
                        }
                    }
                }
            }
            .text-detail{
                width:  45%;
                margin: 25px;
                padding: 25px;
                border: 1px solid $colorWhiteNav;
                border-radius: 3px;
                align-self: flex-start;
                @media all and (max-width: 993px){
                    width: 100%;
                    margin: 0;
                }
                p:nth-child(1){
                    font-size: 25px;
                    font-weight: 700;
                    
                }
                p{
                    margin-bottom: 25px;
                    font-size: 16px;
                    
                }
                span{
                    font-size: 25px;
                    font-weight: 700;
                }
                .select-detail{
                    margin: 25px 0;
                }
                .button-panier{ 
                    margin: 45px 0 25px 0;
                    text-align: center;
                    button{
                        text-decoration: none;
                        background-color: $colorGreyAchat;
                        padding: 14px 0;
                        width: 100%;
                        // margin: 0 auto;
                        color: $colorWhite;
                        border-radius: 5px;
                        font-size: 20px;
    
                        &:hover{
                            background-color: $colorGreyAchatPur;
                        }
                    }
                }
            }
        }
    }

}


.container{
    .detail-item{
        width: 80%;
        margin: 0 auto;
        .title-article{
            p{
                font-size: 35px;
                font-weight: 700;
                font-family: $fontMontserrat;
            }
        }
        .sous-title{
            margin: 20px 0;
            font-size: 12px;
        }
        .desc-article{
            font-size: 19px;
            font-weight: $fontPoppins;
            text-align: justify;
        }
        .img-article{
            margin: 25px 0;
            position: relative;
            width: 100%;
            // background: #000;
            img{
                width: 100%;
                height: 600px;
            }
        }
    }
    .detail-side{
        width: 80%;
        margin: 0 auto;
        .item{
            display: none;
        }
        .newsletter{
            .card{
                width: 100% !important;
                background-color: inherit;
                border: none;
                .card-body{
                    width: 100% !important;
                    .form-control{
                        text-align: center;
                    }
                }
            }
            text-align: center;
            margin-bottom: 25px;
            p{
                font-size: 25px;
                font-weight: 500;
            }
            .forme{
                padding: 0px 0;
            }
            .recent{
                p{
                    margin-top: 16px;
                }
            }
            span{
                margin: 25px 0;
                background: #000;
                font-size: 18px;
            }
            .btn-link{
                margin: 20px 0 0 0;
                text-decoration: none;
        
                button{
                    font-size: 20px;
                    background-color: $colorEmeraud;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: none;
                    text-decoration: none;
                    color: $colorWhite;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}